body{
background-color: rgb(176, 224, 224);}

.headings{
color:rgb(63, 57, 57);}

.contents{
color:blue;}

.s{
background-color: red;}

.box1{
margin: 0px;
padding: 0px;
}
.box2{
margin:10px;
padding:5px;
width: 100px;
height: 100px;
border:3px solid black;
box-sizing: border-box;
}