body{
	background-color: coral;}

@media screen and (max-width:455px) {
	body{
		background-color: black;}}
/* 
@media screen and (orientation:portrait){
	body{
		background-color: white;}} */
.flex{
	background-color: red;

	margin: 20px;
	padding: 40px;
	display: flex;
	border:5px solid grey;
	justify-content: center;
	align-items: center;
}
.box{
	margin: 50px;
	border:4px solid green;
	padding:10px;}


@media screen and (orientation:portrait){
	.flex{
		flex-direction: column;}}