body{
background-color: rgb(240, 195, 111);}
h1{
color:rgb(102, 81, 81)}

#Name{
background-color : rgb(0, 81, 255);}

#Age{
background-color: rgb(0, 255, 0);}

.RED{
background-color:rgb(212, 176, 16);}

p2{
color:red;}