title{
color:white;}
body{
background-color: black;}
h1{
color: whitesmoke;}
p{
color:wheat;}
table{
color:wheat;}
tr{
color:wheat;}
td{
color: whitesmoke;}
th{
color:wheat;}
td{
border:3px solid; }
td{
border-color: wheat;}
ul{
color:wheat;}
ol{
color:wheat;}
del{
color:beige;}